<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- 日志相关配置项 Begin -->
    <!-- 日志级别 DEBUG|INFO|WARN|ERROR|FATAL -->
    <add key="_LOG_LEVEL_" value="FATAL" />
    <!-- 日志文件路径(相对路径或绝对路径)+文件名（不含文件扩展名）（默认NLogger） -->
    <add key="_LOG_FILE_" value="Log\SigintSearch" />
    <!-- 日志文件的最大长度（单位：字节）（不得小于 1024字节，即 1K）（默认1M = 1*1024*1024=1048576） 当日志文件超过该大小时会自动重建 -->
    <add key="_LOG_FILE_MAX_SIZE_" value="10485760" />
    <!-- 日志文件是否按命名空间分开存储的配置节关键字: TRUE|FALSE （默认FALSE） -->
    <add key="_LOG_SPLIT_" value="FALSE" />
    <!-- 当日志文件按命名空间分开存储时（即_LOG_SPLIT_=TRUE），命名空间截取的最大长度(该值必须大于0，方有效)，(可选)默认命名空间全称 -->
    <add key="_LOG_NS_MAXLENGTH_" value="7" />
    <!-- 当日志文件按命名空间分开存储时（即_LOG_SPLIT_=TRUE），命名空间长度最大截取到第几分段（以“.”分割）(该值必须大于0，方有效)，(可选)默认命名空间全称 -->
    <add key="_LOG_NS_DIV_COUNT_" value="3" />
    <!-- 异步写入日志标示，TRUE：新启线程采用日志队列方式异步写入，FALSE：直接写入日志文件（默认FALSE） -->
    <add key="_LOG_ASYN_" value="TRUE" />
    <!-- 异步写入时，当日志队列为空的等待毫秒数（必须大于等于0，为0则没有等待时间(较耗资源)；可不配置，默认100毫秒）（_LOG_ASYN_必须配置TRUE，该项才起作用） -->
    <add key="_LOG_ASYN_WAIT_" value="50" />
    <!-- 异步写入线程是前台线程还是后台线程（对应Thread.IsBackground属性），TRUE后台线程，FALSE前台线程（默认FALSE）（_LOG_ASYN_必须配置TRUE，该项才起作用） -->
    <add key="_LOG_ASYN_THREAD_BACKGROUND_" value="TRUE" />
    <!-- #日志文件的保存时间（单位：天，整数-默认30天）（值大于零方有效） -->
    <add key="_LOG_FILE_SAVE_TIME_" value="30" />
    <!-- 日志相关配置项 End -->
  </appSettings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Dark Turquoise</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>