<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
    <default-wrapper xsi:type="AsyncWrapper">
      <wrapper-target xsi:type="BufferingWrapper" bufferSize="8192" />
    </default-wrapper>
    <target xsi:type="File" name="file" fileName="${basedir}/log/${processname}.${shortdate}.log" 
            layout="${longdate} ${uppercase:${level}} ${message}" />
  </targets>
  <targets>
    <default-wrapper xsi:type="AsyncWrapper" />
    <target xsi:type="ColoredConsole" name="Console"
            layout="${longdate} ${uppercase:${level}} ${message}" />
  </targets>

  <targets>
    <default-wrapper xsi:type="AsyncWrapper" />
    <!--useDefaultRowColoringRules="true" 配置消息颜色-->
    <target xsi:type="RichTextBox" name="f" controlName="msg_txt" formName="FrmMain" autoScroll="true" maxLines="10"
            layout="${longdate} ${uppercase:${level}} ${message}" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />  
    <logger name="*" minlevel="Info" writeTo="f" />
  </rules>
</nlog>